
.navbar {
  margin: 0;
  background: rgba(white, 0.9);
  border-bottom: 1px solid white;
  box-shadow: 0 3px 5px rgba($mediumgray2, 0.5);
  position: fixed;
  z-index: 3;
  width: 100%;
  border-radius: 0;
  text-transform: uppercase;
  li>a.page-link:hover {
    background: white;

  }

  .navbar-brand {
    background: url(/images/Jambo-International-inc.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 85%;
    text-indent: 100%;
    position: absolute;
    display: block;
    width: 260px;
    height: 75px;
  }

}


.header-padding {
  height: 75px;
}